<h1>Listing characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Experience</th>
    <th>Race</th>
    <th>Class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.char_name %></td>
    <td><%= character.char_experience %></td>
    <td><%= character.char_race %></td>
    <td><%= character.char_class %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Select', use_character_path(character) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path %>
